---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<body>

  {% if site.author.googlescholar %}
  <div class="wordwrap">You can find my full article list on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>. See selected publications below.</div>
  {% endif %}

  <h2>Peer-reviewed papers</h2>
    <ul>
        <li><b>Ferrari, A</b>., de Lange, F., Akrami, A. (invited, under review). Where learning paths meet: Convergence and divergence of statistical and reinforcement learning. <i>Current Opinions in Neurobiology</i>.
        </li>
        <li><b>Ferrari, A</b>., Hagoort, P. (2025). Beat gestures and prosodic prominence interactively influence language comprehension. <i>Cognition</i>, 256, 106049.
            <a href="https://doi.org/10.1016/j.cognition.2024.106049" target="_blank">[Download]</a>
        </li>  
        <li>Nazli, I., <b>Ferrari, A.</b>, Huber-Huber, C., & de Lange, F. (2024). Forward and backward blocking in statistical learning. <i>PLoS One</i>, 19(8), e0306797.
            <a href="https://doi.org/10.1371/journal.pone.0306797" target="_blank">[Download]</a>
        </li>
        <li>Benetti, S.*, <b>Ferrari, A.</b>*, Pavani, F. (2023). Multimodal processing in face-to-face interactions: a bridging link between psycholinguistics and sensory neuroscience. <i>Frontiers in Human Neuroscience</i>, 17:1108354. <span class="note">*shared first authorship</span>
            <a href="https://doi.org/10.3389/fnhum.2023.1108354" target="_blank">[Download]</a>
        </li>
        <li><b>Ferrari, A.</b>, Richter, D., & de Lange, F. (2022). Updating contextual sensory expectations for adaptive behaviour. <i>The Journal of Neuroscience</i>, 42(47), 8855-8869.
            <a href="https://doi.org/10.1523/JNEUROSCI.1107-22.2022" target="_blank">[Download]</a>
        </li>
        <li><b>Ferrari, A.</b>, & Noppeney, U. (2021). Attention controls multisensory perception via two distinct mechanisms at different levels of the cortical hierarchy. <i>PLoS Biology</i>, 19(11), e3001465.
            <a href="https://doi.org/10.1371/journal.pbio.3001465" target="_blank">[Download]</a>
        </li>
        <li>Benetti, S., Zonca, J., <b>Ferrari, A.</b>, Rezk, M., Rabini, G., & Collignon, O. (2021). Visual motion processing recruits regions selective for auditory motion in early deaf individuals. <i>NeuroImage</i>, 230, 117816.
            <a href="https://doi.org/10.1016/j.neuroimage.2021.117816" target="_blank">[Download]</a>
        </li>
        <li>Beierholm, U., Rohe, T., <b>Ferrari, A.</b>, Stegle, O., & Noppeney, U. (2020). Using the past to estimate sensory uncertainty. <i>eLife</i>, 9, e54172.
            <a href="https://doi.org/10.7554/eLife.54172" target="_blank">[Download]</a>
        </li>
    </ul>

  <h2>Preprints</h2>
    <ul>
        <li>Momentè, F., Suglia, A., Giulianelli, M., <b>Ferrari, A.</b>, Koller, A., Lemon, O., Schlangen, D., Fernández, R., Bernardi, R. (2025). Triangulating LLM progress through benchmarks, games, and cognitive tests. <i>arXiv</i>.
            <a href="https://doi.org/10.48550/arXiv.2502.14359" target="_blank">[Download]</a>
        </li>
        <li>Mazzi, G.*, <b>Ferrari, A.</b>*, Mencaroni, M. L., Valzolgher, C., Tommasini, M., Pavani, F., Benetti, S. (2025). Prior expectations guide multisensory integration during face-to-face communication. <i>bioRxiv</i>. <span class="note">*shared first authorship</span>
            <a href="https://doi.org/10.1101/2025.02.19.638980" target="_blank">[Download]</a>
        </li>
        <li><b>Ferrari, A.</b>, Filippin, L., Buiatti, M., Parise, E. (2024). WTools: a MATLAB toolbox for time-frequency analysis. <i>bioRxiv</i>.
            <a href="https://doi.org/10.1101/2024.10.31.621249" target="_blank">[Download]</a>
        </li>
    </ul>

  <h2>In preparation</h2>
    <ul>
        <li><b>Ferrari, A.</b>*, Mazzi, G.*, Rabini, G., Mencaroni, M. L., Pavani, F., Benetti, S. Neural mechanisms of multisensory integration during face-to-face communication. <span class="note">*shared first authorship</span></li>
        <li>Degano, G.*, <b>Ferrari, A.</b>*, Noppeney, U. Audiotactile encoding of music in the human brain. <span class="note">*shared first authorship</span></li>
        <li><b>Ferrari, A.</b>*, Meijer, D.*, Noppeney, U. Attention selection and switching in multisensory causal inference. <span class="note">*shared first authorship</span></li>
        <li>Chen Y., <b>Ferrari, A.</b>, Hagoort, P., Bocanegra, B., Poletiek, F. Statistical learning of a hierarchical centre-embedded structure: influence of Zipf distribution and semantic biases.</li>
    </ul>

</body>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



